{%extends "ToDoBundle::base.html.twig"%}
{% block title %} Title  {%endblock%}
{% block head %}


{% endblock %}

{% block javascript %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#dugm").click(function () {
                $(".cb").each(function(){
                    if (this.checked)
                        $(".cb").attr('checked', "checked");
                    else
                        $(".cb").removeAttr('checked');
                });
            });
        });



    </script>



{% endblock %}






{% block body %}
    <div class="container">
    <h1 class="jumbotron text-center"> ToDo List </h1>

    <p>
    <a href="/main" class="btn btn-default"> Add </a>

    </p>




    <table class="table">
        {% for item in itemss %}
          <tr><td>{{ item.id }} {{item.name}}  {{ item.location }} </td> <td> <input type="checkbox" class="cb align-right" > </input> </td> </tr>
        {% endfor %}
   </table>


    <input type="submit" class="btn btn-success"> </input>
    <input type="button" class="btn btn-primary" id="dugm" value="Select all">  </input>
 </div>
{% endblock %}

